{% load cache %}  {# Importa la librería de cache #}

<html>
    <head>
        <h1 style="color: #b709bdff;">Boot Camp Django Código Facilito</h1>
    </head>
    <body>
        <h1>API de Administración de Colegios</h1>
        <h2>Exámenes habilitados</h2>
        <br>
        {% cache 120 examenes %}
        <ul>
            {% for examen in examenes %}
                <li><strong>{{ examen.comision }}</strong></li>
            {% empty %}
                <li>No hay exámenes cargados todavía.</li>
            {% endfor %}
        </ul>
        {% endcache %}
    </body>
</html>